body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  color: orange;
}

.artistCardContainer {
  height:600px;
  border-radius:15px;
  background-color:#3d424b;
  box-shadow: 9px 9px rgb(39, 34, 44);
  margin: 10px 10px;
  padding: 10px 10px;
}


button {
  padding: 3px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.swipeButtons {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  color: white;
  align-items: center;
}

.leftButton button {
  width: 100px;
  padding: 15px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  background: none;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(16, 107, 22);
  font-size: 24px;
}

.leftButton button:hover {
  background-color: #276a29;
  border-radius: 15px;
}

.leftButton button:active {
  background-color: #1d5f1f;
  box-shadow: 0 5px rgb(18, 91, 29);
  transform: translateY(4px);
}

.rightButton button {
  width: 100px;
  padding: 15px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  background: none;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(16, 107, 22);
  font-size: 24px;
}

.rightButton button:hover {
  background-color: #276a29;
  border-radius: 15px;
}

.rightButton button:active {
  background-color: #1d5f1f;
  box-shadow: 0 5px rgb(18, 91, 29);
  transform: translateY(4px);
}


/* button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(16, 107, 22);
} */
